@use "@/constants/colors" as *;
@use "@/constants/screenSizes" as *;
@use "@/constants/mixins" as *;
.title {
	padding: 0.5rem 1rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
	align-self: center;
	font-size: 2.6rem;
	color: $green-400;
	user-select: none;
}

@media (min-width: $md) {
	.title {
		font-size: 3.8rem;
	}
}
@media (min-width: $lg) {
	.title {
		font-size: 4.2rem;
	}
}