$white: #ffffff;
$white-shadow: rgba(255,255,255,0.6);
$white-strong: #eeeeee;
$grey: #b3b3b3;
$grey-strong: #535353;
$black-light:#212121;
$black: #121212;
$black-shadow: rgba(0,0,0,0.6);
$green-100: #4ac776;
$green-200: #33c065;
$green-300: #1db954;
$green-400: rgb(26, 166, 75);
$green-400-shadow: rgba(26, 166, 75, 0.6);
$green-400-shadow-settings: rgba(26, 166, 75, 0.3);
$green-500: #063316;
$green-600: #055521;

$black-gradient: linear-gradient(in hsl, $green-500 0, #121212 250px);
$settings-gradient: linear-gradient(in hsl, $green-500 0, #121212 150px);
$settings-gradient-opacity: linear-gradient(in hsl, $green-500 0, #121212 150px);
$green-gradient: linear-gradient(270deg, rgba(26,166,75,0.2) 0%, rgba(29,185,84,0.2) 100%);
$green-gradient-strong: linear-gradient(0deg, #06331675 0%, #12121275 100%);