$white: #ffffff;
$white-strong: #eeeeee;
$grey: #b3b3b3;
$grey-strong: #535353;
$black-light:#212121;
$black: #121212;
$green-100: #4ac776;
$green-200: #33c065;
$green-300: #1db954;
$green-400: #1aa64b;
$green-500: #063316;
$green-600: #055521;

$black-gradient: linear-gradient(in hsl, $green-500 0, #121212 250px);