@use "@/constants/colors" as *;
@use "@/constants/mixins" as *;
.modalOverlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.modalContent {
	position: relative;
	@include shadow-strong();
	background-color: rgba(255,255,255,0.2);
	padding: 2rem 8rem;
}
.closeBtnBox {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	justify-content: flex-end;
	transition: background-color 0.3s;
	.closeBtn {
		@include shadow-strong();
		@include shadow-strong-hover-clickable(black, $green-400);
		display: flex;
		margin-top: 1rem;
		margin-right: 1rem;
		padding: 1rem;
		font-size: 2.4rem;
		border: none;
		background: $white-strong;
		color: $black;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: $green-400-shadow;
		}
	}
}
