@use "@/constants/colors" as *;
@use "@/constants/screenSizes" as *;

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.titleBox {
		position: absolute;
		top: 4rem;
		left: 50%;
		color: $white-shadow;
		text-shadow: 1px 1px 1px $black-shadow;
		font-size: 2rem;
		transform: translateX(-50%);
		z-index: 1;
	}
	.settingsBtn {
		position: absolute;
		top: 4rem;
		right: 4rem;
		display: flex;
		padding: 1.4rem;
		font-size: 3rem;
		color: $white;
		border: none;
		background-color: $green-400-shadow;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: $green-400;
		}
	}

	.mapBox {
		position: relative;
		height: 100%;
		width: 100%;

		.stationPosContener {
			padding: 0.4rem 0.6rem;
			position: absolute;
			left: 2rem;
			bottom: 4rem;
			background-color: $black-shadow;
			border-radius: 4px;
			color: $white;
			font-size: 1.2rem;
			user-select: none;
			p:first-child {
				font-size: 1.4rem;
				text-align: center;
			}
		}
		.brandName {
			position: absolute;
			bottom: 0.8rem;
			left: 10rem;
			color: $white;
			font-weight: bold;
			text-shadow: 1px 1px 1px $green-400-shadow;
			user-select: none;
		}
	}
	.computeBtn {
		position: absolute;
		bottom: 3rem;
		right: 4rem;
		padding: 2rem;
		font-size: 2rem;
		color: $white;
		background: none;
		background-color: $green-400-shadow;
		border: none;
		border-radius: 4px;
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: $green-400;
		}
	}
}

.dialogBox {
	padding: 1.4rem 1.2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	.closeBtnBox {
		display: flex;
		margin-left: auto;
		margin-right: 0.4rem;
		transition: background-color 0.3s;
		border-radius: 50%;
		.closeBtn {
			display: flex;
			padding: 1rem;
			font-size: 2.4rem;
			border: none;
			background: transparent;
			color: $white;
			cursor: pointer;
		}
		&:hover {
			background-color: $green-400;
		}
	}
	.formBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		.formInputBox {
			margin-bottom: 2rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.6rem;
		}
		.label {
			font-size: 2.4rem;
			color: $white;
		}
		.input {
			padding: 0.6rem;
			font-size: 2rem;
			border-radius: 4px;
			width: 100%;
		}
		.submitBtn {
			padding: 1rem;
			margin-left: auto;
			margin-right: 0.4rem;
			margin-bottom: 1rem;
			color: $white;
			font-size: 1.8rem;
			background: transparent;
			border: none;
			border-radius: 4px;
			transition: background-color 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $green-400;
			}
		}
	}
}
