@use "@/constants/colors" as *;
@use "@/constants/screenSizes" as *;
@use "@/constants/mixins" as *;
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.titleBox {
		@include shadow-strong();
		@include glassmorphism(#ffffff1a, 4px);
		padding: 0.5rem 1rem;
		position: absolute;
		top: 4rem;
		left: 2rem;
		color: $green-400;
		font-size: 2.8rem;
		z-index: 1;
		user-select: none;
	}
	.settingsBtn {
		@include glassmorphism($green-400-shadow, 4px);
		@include shadow-strong();
		@include shadow-strong-hover-clickable(black, $green-400);
		position: absolute;
		top: 4rem;
		right: 4rem;
		display: flex;
		padding: 1.4rem;
		font-size: 3rem;
		color: $white;
		border: none;
		background-color: $green-400-shadow;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: $green-400;
		}
	}

	.mapBox {
		position: relative;
		height: 100%;
		width: 100%;

		.stationPosContener {
			@include shadow-strong(black);
			@include glassmorphism(#ffffff8a, 4px);
			padding: 0.4rem 0.6rem;
			position: absolute;
			width: 20rem;
			left: 2rem;
			bottom: 4rem;
			color: $green-400;
			font-weight: bold;
			font-size: 1.4rem;
			user-select: none;
			p:first-child {
				font-size: 1.4rem;
				text-align: center;
			}
		}
		.brandName {
			position: absolute;
			bottom: 0.8rem;
			left: 10rem;
			color: $white;
			font-weight: bold;
			text-shadow: 1px 1px 1px $green-400-shadow;
			user-select: none;
		}
	}
	.computeBtn {
		@include glassmorphism($green-400-shadow, 4px);
		@include shadow-strong();
		@include shadow-strong-hover-clickable(black, $green-400);
		position: absolute;
		bottom: 3rem;
		right: 4rem;
		padding: 2rem;
		font-size: 2.4rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $white;
		background-color: $green-400-shadow;
		border: none;
		border-radius: 4px;
		transition: background-color 0.3s;
		cursor: pointer;
	}
}
.settingsBtnsBox {
	margin-left: 1.2rem;
	margin-bottom: 2rem;
	display: flex;
	gap: 1rem;
	.settingsTypeBtn {
		@include shadow-strong();
		@include shadow-strong-hover-clickable(black, $green-400);
		font-weight: bold;
		padding: 1rem 1.6rem;
		font-size: 2.4rem;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			background-color: $green-400;
		}
	}
	.settingsTypeBtnActive {
		background-color: $green-400;
		color: $white;
	}
}

.dialogBox {
	padding: 1.4rem 1.2rem;
	position: relative;
	min-width: 600px;
	display: flex;
	flex-direction: column;
	width: 100%;
	.closeBtnBox {
		display: flex;
		margin-left: auto;
		margin-right: 0.4rem;
		transition: background-color 0.3s;
		border-radius: 50%;
		.closeBtn {
			display: flex;
			padding: 1rem;
			font-size: 2.4rem;
			border: none;
			background: transparent;
			color: $white;
			cursor: pointer;
		}
		&:hover {
			background-color: $green-400;
		}
	}
}

.loadingScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(2px);
}
